/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */


html{
  background-color: var(--fundo);
}
body {
  font-family: "Roboto", sans-serif;

  --cor-principal: #f7d736;
  --texto-geral: #000000;
  --texto-cards: #4c4c4c;
  --card1: #ead3a7;
  --card2: #9de0f5;
  --card3:#ef89ba;
  --card4:#fae890;
  --card5: #abe9c1;
  --botao-claro: #cfcbcb;
  --fundo: #ffffff;
  --cor-sombra: rgba(0,0,0,0.19);
  background-color: var(--fundo);
  background-size: cover;
  --img--darkmode: url("../img/sol.png");
}

.dark{
  --cor-principal: #89771e;
  --texto-geral: #edeeeb;
  --texto-cards: #dededcd6;
  --card1: #cea42693;
  --card2: #4cb0cc9a;
  --card3:#ae3d74cd;
  --card4:#d5c04a84;
  --card5: #419a6296;
  --botao-claro: #cfcbcb50;
  --fundo: #2e2e2a;
  --cor-sombra: rgba(7, 7, 7, 0.811);
  --img--darkmode: url("../img/lua.png");
}

#refresh {
  display: none;
}

.botao-dark-mode{
  background-image: var(--img--darkmode);
  background-size: cover; /* Redimensionar a imagem para cobrir todo o botão */
  background-repeat: no-repeat; /* Evitar a repetição da imagem */
  background-position: center; /* Centralizar a imagem no botão */
  background-color: transparent;
  width: 40px; /* Largura do botão */
  height: 40px; /* Altura do botão */
  border: none; /* Remover a borda do botão */
  text-align: center; /* Alinhamento do texto no centro do botão */
  cursor: pointer;
}

.menu-dark{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--texto-geral);
  justify-content: flex-end;
}

.inicio-appbar{
  display: flex;
  height: fit-content;
  align-items: center;
}
.appbar{
  display: flex;
  height: fit-content;
  background-color: var(--cor-principal);
  align-items: center;
  padding: 0.2em;
  margin-bottom: 2em;
  box-shadow: 1px 2px 15px var(--cor-sombra);
  justify-content: space-between;
}

.logo{
  height: 55px;
  padding: 0.3em 0.8em 0.3em 0.1em;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px var(--cor-sombra), 0 6px 6px var(--cor-sombra); 
  border: #4c4c4c;
  padding: 1%;
  width: 40%;
  margin-bottom: 2em;
  align-content: space-between;
  background: var(--fundo);
}

.form-card-title{
  color: var(--texto-geral);
  background: var(--fundo);
  font-size: 1.7em;
  border: none;
  padding-bottom: 15px;
  resize: none;
}

.card-superior{
  display: flex;
  justify-content: space-between;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: none;
  resize: none;
  padding: 5px 5px 10px 5px;
  color: var(--texto-geral);
  background: var(--fundo);
}

.card{
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 14rem;
  height: 10rem;
  margin: 0.3rem 0.3rem 1rem 0.3rem;
  box-shadow: 0 10px 20px var(--cor-sombra), 0 6px 6px var(--cor-sombra); 
}

.card-title{
  color: var(--texto-geral);
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 5px 0px 5px;
  align-self: flex-start;
}

.card-content{
  color: var(--texto-cards);
  font-size: 1em;
  padding: 10px 10px;
  align-self: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
}

.card-color-1{
  background: var(--card1);
}

.card-color-2{
  background: var(--card2);
}

.card-color-3{
  background: var(--card3);
}

.card-color-4{
  background: var(--card4);
}

.card-color-5{
  background: var(--card5);
}

.card-rotation-1{
  transform: rotate(1deg)
}

.card-rotation-2{
  transform: rotate(2deg)
}

.card-rotation-3{
  transform: rotate(3deg)
}

.card-rotation-4{
  transform: rotate(4deg)
}

.card-rotation-5{
  transform: rotate(5deg)
}

.card-rotation-6{
  transform: rotate(-1deg)
}

.card-rotation-7{
  transform: rotate(-2deg)
}

.card-rotation-8{
  transform: rotate(-3deg)
}

.card-rotation-9{
  transform: rotate(-4deg)
}

.card-rotation-10{
  transform: rotate(-5deg)
}

.icone-img{
  height: 25px;
  background-color: transparent;
  border: none;
}


.icones{
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.image-button-edit {
  background: none;
  border: none;
  padding: 0;
}

.image-button-delete {
  background: none;
  border: none;
  padding: 0;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-erro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--cor-sombra);

  background-color: var(--cor-principal);

  transition: background-color 0.3s;
  color: var(--texto-geral);
}


.subtitle{
  color: var(--texto-geral)
}
.btn > * {
  position: relative;
  color: var(--texto-geral);
}
.btn-cancelar{
  color: var(--texto-geral);
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--cor-sombra);

  background-color: var(--botao-claro);

  transition: background-color 0.3s;
}
.btn-atualizar{
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--texto-geral);
  font-weight: bold;


  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--cor-sombra);

  background-color: var(--cor-principal);

  transition: background-color 0.3s;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 
